@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
    font-family: "Inter", sans-serif;
}
.navebar{
    display: flex;
   justify-content: space-between;
}
.nav2{
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    margin-top: 10px;
    color: azure;
    margin-right: 10rem;
}
.nav1{
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 26px;
   margin-left: 10rem;
}
.navebar p{
    cursor: pointer;
}
#hom{
    background: rgb(230, 83, 60);
    border-radius: 20px;
    height: 20px;
    width: 60px;
    color: azure;
}

   
.banner{
  display: flex;
   
   justify-content: space-around;
   width: 90%;
   margin: auto;
   
}
.banner1 h1{
    font-size: 40px;
    font-size: 4.5rem;
}

#span{
    font-family: "Great Vibes", cursive;
}
.bnt1{
    height: 40px;
    width: 150px;
    margin-left: 5px;
    border-radius: 20px;
    background: rgb(230, 83, 60);
    color: azure;
    border: none;
}
.bnt2{
    height: 40px;
    width: 150px;
   margin-right: 5px;
   border-radius: 20px;
   color: white;
   background-color: black;
   border: 1px solid rgb(255, 255, 255);
}
.banner p{
    font-size: 12px;
   margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    
}
 /* .banner2 img{ */
    /* height: 50%;
    margin-left: 59rem;
  margin-top: -50px;

 } */
 i{
    background-color: red;

 }
 .banner2 h2,h4{
    color: azure;
   margin-bottom: 5px;
}
.banner2 p{
    margin-top: 2px;
}
.banner2{
    /* background-image: url("/B10A2-versatile-ui-main/B10A2-versatile-ui-main/images/img2.png"); */
    
    width: 100%;
}
.banner1{
    width: 100%;
    color: azure;
}
 .sado1{
    
    
 padding: 10px;

 width: fit-content;
 height: 75px;

background-color: rgba(63, 60, 60, 0.364);
backdrop-filter: blur(4px);
margin-top: -55%;
margin-left: 35%;
} 
.anisa{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: brown;
   margin-right: 6px;
}
 .sado2{
    display: flex;
   
   width: fit-content;
    height: 55px;
    padding: 10px;

margin-top: -20%;
 align-items: center;
 gap: 5px;

background-color: rgba(18, 17, 17, 0.622);
backdrop-filter: blur(4px);

} 

.part2{
    color: azure;
  
text-align: center;
margin-top: 200px;
}
.ant{
    font-size: 50px;
}
.bnt{
    font-size: 12px;

    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}
p{
    color: rgba(255, 255, 255, 0.5); 
}
.part21 img{
    height: 150px;
    width: 150px;
    border-radius: 50%;

}
 .part21{
   display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 50px;
}
 
.part21 h4,p{
    text-align: center;
    

}
.part21 p{
    font-size: 12px;
}  
.abc{
    margin-right: 7rem;
}
.part31 h1{
    color:white;
   font-size: 40px;
}
.part3{
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 40px;
    background-color: rgba(63, 60, 60, 0.364);
    backdrop-filter: blur(4px);
    border-radius: 10px;
}
.part3 img{
    height: 290px;
    width: 300px;
    border-radius: 20px;
    margin-right: 3rem;
   

   
}
#anisa{
    text-align: left;
}
.part31{
    margin-left: 3rem;
    margin-top: 20px;
}
.bde{
    height: 40px;
    width: 150px;
    background-color: orangered;
    color: azure;
    border-radius: 20px;
    border: none;
}
.part41{
    color: azure;

}
.part4 h3{
    color: azure;
    
}
.part4{
    display: flex;
    background-color: rgba(63, 60, 60, 0.364);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    margin-top: 50px;
    justify-content: space-between;
    height: 20rem;
}
.part41 td,th,tr ,table{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    height: 30px;
    width: 250px;
    text-align: center;
}
.part41 td{
   font-size: 10px;
   color: rgba(255, 255, 255, 0.5);
}
.part41 th{
    font-size: 13px;
}
.part42{
    margin-left: 10rem;
    margin-top: 50px;
}
.part43{
 margin-right: 10rem;
 margin-top: 50px;
}
.part431 p{
    text-align: left;
    font-size: 12px;
}
.maw{
    width: 170px;
}
.vaw{
    width: 345px;
    margin-top: 10px;
    height: 25px;
    border-radius: 5px;
}
.bur{
    
    height: 40px;
    width: 150px;
    background-color: orangered;
    color: azure;
    border-radius: 20px;
    border: none;
    margin-top: 10px; 

}
.part434{
    margin-top: 10px;
    border-radius: 5px;
}
.part433{
    border-radius: 5px;
}
.part5 h1{
    color: azure;
    text-align: center;
    font-size: 50px;
}
.part5 p{
    
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
   
}
.part5{
    margin-top: 50px;
}
.row-1,
.row-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    margin-top: 60px;
    padding: 1rem;
     /* margin-left: 17rem;
    margin-right: 17rem;  */
}
.row-1 img{
    height: 230px;
    width: 250px;
    filter: brightness(70%);
    border-radius: 20px;
  gap: 5px;

}
.row-1 h6{
    color: azure;
    font-size: 15px;
}
.row-1 p{
    font-size: 9px;
    color: rgb(219, 226, 226);
}
.pic1{
    position: relative;
}
.pic2{
    position: absolute;
  margin-top: -50px;
  margin-left: 1rem;
}
.pic3{
    position: absolute;
    margin-top: -75px;
    margin-left: 1rem;
}
.row-2 img{
    height: 230px;
    width: 250px;
    filter: brightness(70%);
    border-radius: 20px;

}
.row-2 h6{
    color: azure;
    font-size: 15px;
}
.row-2 p{
    font-size: 12px;
    color: rgb(219, 226, 226);
}
.part51{
    background-color: rgba(63, 60, 60, 0.364);
    backdrop-filter: blur(4px);
    height: 33.5rem;
    margin-top: 20px;
   margin-left: 10rem;
   margin-right: 10rem;
   border-radius: 1.5rem;
}
.row-2{
    margin-top: -10px;
}
.last{
    display: flex;
    justify-content: space-between;
     margin-left: 10rem;
    margin-right: 10rem; 
    margin-top: 50px;
}
.last h1{
    color: orangered;
    font-size: 40px;
    font-style: italic;
    
}
.last p{
    text-align: left;
    font-size: 12px;
}
.last1{
    display: flex;
    justify-content: space-between;
   
}
.last2{
margin-left: 3rem;
}
.last3{
    margin-left: 3rem;
}
.last5{
    margin-left: 10rem;
    margin-right: 10rem; 
    margin-top: 40px;
}
.footer{
    height: 20rem;
    width: 100%;
    background-color: rgba(63, 60, 60, 0.364);
    backdrop-filter: blur(4px);
}
.part6{
    display: grid;
   grid-template-columns: 1fr 1fr;
    margin-left: 10rem;
    margin-right: 10rem;
}

.part6 th,td,h2{
    color: azure;
}
.part6 td{
    font-size: 12px;
    color: rgba(245, 245, 220, 0.755);
}
.part6 table,th,td,tr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    height: 30px;
    width: 250px;
    text-align: center;
}
.ayman{
    color: bisque;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}
.arham{
    display: none;
}

@media screen and (max-width:600px){
    .nav2{
        display: none;
    }
    .arham{
        display: block;
        margin-top: 40px;
        color: azure;
    }
   h1{
    font-size: 10px;
   }
  
   .row-1,
.row-2{
    grid-template-columns: 1fr;
  
}
.part6{
    grid-template-columns: 1fr;
}
.row-1  img{
    height: 100px;
    width: 170px;
}
.row-2  img{
    height: 100px;
    width: 170px;
}
.part51{
    margin-left: 10rem;
    margin-right: 6rem;
    width: 15rem;
    height: 44rem;
}
.row-1 h6{
    color: azure;
    font-size: 12px;
}
.row-2 h6{
    color: azure;
    font-size: 12px;
}
.part3 img{
    height: 100%;
    width: 300px;
    margin-top: -20px;
}
.part3{
    display: grid;
    grid-template-columns: 1fr;
   width: 350px;
   height: 700px;
   border-radius: 10px;
}
.part2{
    display: grid;
    grid-template-columns: 1fr;
}
.part21{
    display: grid;
    grid-template-columns: 1fr;
}
.part4{
    display: grid;
    grid-template-columns: 1fr;
    height: 40rem;
    margin-left: 6rem;
    width: 25rem;
    
}
.part42{
    margin-left: 5rem;
}
.part43{
    margin-right: 5rem;
}
.last{
    display: grid;
   
}
.last1{
    display: grid;
    grid-template-columns: 1fr;
   
}
.footer{
    height: 50rem;
    margin-left: 6rem;
    border-radius: 20px;
}

   .banner{
    display: grid;
    grid-template-columns: 1fr;
   }

}